.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.opendb

bin/
obj/
build/
[Rr]elease/
[Dd]ebug/
*.exe
*.obj
*.res
*.aps
*.ilk
*.pdb
*.iobj
*.ipdb
*.idb
*.exp
*.tlog
*.log
*.cache
*.manifest
!src/app.manifest

OntyTask.ini
*.onty

.dev/
